%h1 Добро пожаловать!
%p Это главная страница.
%ul
  %li= link_to 'Контакты', main_contacts_path
  %li= link_to 'Помощь', main_help_path
  %li= link_to 'О нас', main_about_path
  %li= link_to 'Ruby on Rails Website', 'http://rubyonrails.org'
